asgiref
attrs
Django
django-filter
djangorestframework
djangorestframework_simplejwt
drf-spectacular
inflection
jsonschema
jsonschema-specifications
PyJWT
python-dotenv
PyYAML
referencing
rpds-py
sqlparse
typing_extensions
tzdata
uritemplate
